<div style="display:none">
  <form id="importObjectsZipForm" enctype="multipart/form-data">
    <input id="importObjectsZipFormInput" type="file" onchange="importObjectsZipToInventory(this)"></input>
  </form>
</div>
<div style="display:none">
  <form id="importFilesZipForm" enctype="multipart/form-data">
    <input id="importFilesZipFormInput" type="file" onchange="importFilesZipToInventory(this)"></input>
  </form>
</div>
<div style="display:none">
  <form id="uploadForm" enctype="multipart/form-data">
    <input id="uploadFormInput" type="file" onchange="uploadFileToTerminal(this)"></input>
  </form>
</div>
<div style="display:none">
  <form id="importFileForm" enctype="multipart/form-data">
    <input id="importFileFormInput" type="file" onchange="importFileToInventory(this)"></input>
  </form>
</div>